
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="inner cover" role="main">
        <h1 class="cover-heading">All articles have been reviewed.</h1>
    </main>
</div>